<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dates</key>
	<dict>
		<key>2</key>
		<real>378090000</real>
		<key>20</key>
		<real>378262800</real>
		<key>22</key>
		<real>378302400</real>
		<key>23</key>
		<real>378468000</real>
		<key>26</key>
		<real>378118800</real>
		<key>27</key>
		<real>378388800</real>
		<key>3</key>
		<real>378090000</real>
		<key>35</key>
		<real>378723600</real>
		<key>36</key>
		<real>381204000</real>
		<key>37</key>
		<real>381204000</real>
		<key>38</key>
		<real>382932000</real>
		<key>39</key>
		<real>387864000</real>
		<key>40</key>
		<real>388418400</real>
		<key>41</key>
		<real>385383600</real>
		<key>45</key>
		<real>378468000</real>
		<key>46</key>
		<real>378264600</real>
		<key>47</key>
		<real>378536400</real>
		<key>48</key>
		<real>378617400</real>
	</dict>
	<key>lastSync</key>
	<string>20121212T085531Z</string>
	<key>names</key>
	<dict>
		<key>2</key>
		<string>0A1F9FF8-6F45-4EDB-8338-A6261C6D5180</string>
		<key>20</key>
		<string>8701272E-E1B0-42E2-8A9A-56AC2547D140</string>
		<key>22</key>
		<string>6146D17D-9850-436B-B805-426735DDCEDE</string>
		<key>23</key>
		<string>13CE9541-E06F-4889-9A7A-84B522D1989D</string>
		<key>26</key>
		<string>6C7B9129-F63A-44D1-9E2D-90AC1D306431</string>
		<key>27</key>
		<string>F83F3E98-9E2A-4594-89FA-25171DFE2FE2</string>
		<key>3</key>
		<string>6721031D-D96F-445C-8244-DA60ABB3B8E0</string>
		<key>35</key>
		<string>45FA0AB9-3EC8-4FF8-85D3-BE168D24A85A</string>
		<key>36</key>
		<string>94E75663-78BB-43C1-8E20-5B7995FF4673</string>
		<key>37</key>
		<string>78215016-CBA6-4478-8EEE-146ABF80D924</string>
		<key>38</key>
		<string>94899849-D620-4BF5-889C-C64E10ECE98F</string>
		<key>39</key>
		<string>97B55C36-3602-4AE1-A7E0-B84D3A58F492</string>
		<key>40</key>
		<string>4697A0C5-B0AB-48C6-9D7D-E0F270EE86FB</string>
		<key>41</key>
		<string>8E0DA6F3-9C54-4617-90F8-CE829E534B84</string>
		<key>45</key>
		<string>AD571BD8-F20B-4D92-8850-D4FF7775A55E</string>
		<key>46</key>
		<string>701AADD8-F011-477F-80DD-53FCD3210C6C</string>
		<key>47</key>
		<string>7D57890E-3E96-47B8-9020-D37640534A95</string>
		<key>48</key>
		<string>9015051F-8F78-43CA-A658-4CDC448ACAC1</string>
	</dict>
	<key>sequence</key>
	<dict>
		<key>2</key>
		<string>3</string>
		<key>20</key>
		<string>3</string>
		<key>22</key>
		<string>3</string>
		<key>23</key>
		<string>3</string>
		<key>26</key>
		<string>3</string>
		<key>27</key>
		<string>3</string>
		<key>3</key>
		<string>3</string>
		<key>35</key>
		<string>3</string>
		<key>36</key>
		<string>3</string>
		<key>37</key>
		<string>3</string>
		<key>38</key>
		<string>3</string>
		<key>39</key>
		<string>3</string>
		<key>40</key>
		<string>3</string>
		<key>41</key>
		<string>3</string>
		<key>45</key>
		<string>3</string>
		<key>46</key>
		<string>3</string>
		<key>47</key>
		<string>3</string>
		<key>48</key>
		<string>3</string>
	</dict>
	<key>versions</key>
	<dict>
		<key>2</key>
		<string>20121225T085113Z</string>
		<key>20</key>
		<string>20121225T085113Z</string>
		<key>22</key>
		<string>20121226T180006Z</string>
		<key>23</key>
		<string>20121228T035522Z</string>
		<key>26</key>
		<string>20121225T085113Z</string>
		<key>27</key>
		<string>20121225T085113Z</string>
		<key>3</key>
		<string>20121225T085113Z</string>
		<key>35</key>
		<string>20121225T085113Z</string>
		<key>36</key>
		<string>20121225T085113Z</string>
		<key>37</key>
		<string>20121225T085113Z</string>
		<key>38</key>
		<string>20121225T085113Z</string>
		<key>39</key>
		<string>20121225T085113Z</string>
		<key>40</key>
		<string>20121225T085113Z</string>
		<key>41</key>
		<string>20121225T085113Z</string>
		<key>45</key>
		<string>20121225T085113Z</string>
		<key>46</key>
		<string>20121225T085113Z</string>
		<key>47</key>
		<string>20121225T085113Z</string>
		<key>48</key>
		<string>20121225T085113Z</string>
	</dict>
</dict>
</plist>
